.trip-header {
	background-image: url("images/nyc2.jpg") !important;
	background-size: cover;
	background-position: top;
	height: 650px;
}

.trip-header h1 {
	text-align: right;
	color: rgb(23,68,94);
	text-shadow: none;
	margin-bottom: 15px;
}

.closer{
	width: 75%;
	margin-left: 25%;
	color: rgb(23,68,94);
	line-height: 22px;
	text-align: right;
	margin-top: 0;
	margin-bottom: 10px;
}

.trip-header .button {
	margin-left: 70%;
	width: 27.5%;
	padding: 12px 40px 15px 40px;
}

.blue-bg .button {
	background-color: rgb(38,116,186);
	color: white;
}